@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pn-node-place {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #1e293b;
  border: 2px solid #3b82f6;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.pn-node-transition {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #1e293b;
  border: 2px solid #10b981;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.react-flow__node-default {
  padding: 0 !important;
}

.floating-handle {
  width: 1px !important;
  height: 1px !important;
  background: transparent !important; /* Priehľadné pozadie */
  border: none !important;            /* Žiadny okraj */
  outline: none !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  position: absolute !important;
  pointer-events: none !important;
  opacity: 0 !important;              /* Pre istotu úplná priesvitnosť */
}

.react-flow__handle {
  opacity: 0 !important;
  background: transparent !important;
}

#react-flow__arrowclosed, 
[id^="react-flow__arrowclosed"] {
  /* refX posúva hrot šípky vzhľadom na koniec čiary. 
     Pre 40px uzol je ideálna hodnota okolo 28-30, aby hrot "lízal" okraj */
  refX: 28 !important; 
}